# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Venv
.venv/
venv/

# SQLite
*.db
*.sqlite
*.sqlite3

# Logs
*.log

# OS
.DS_Store

# IDE
.vscode/
.idea/
.cursor/

# Credentials
credentials/
*.json
!package.json
